* {
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    background-color: grey;
}

#nav li:hover {
    background-color: white;
    color:cornflowerblue;
}

#nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.section {
    margin: 20px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

#section2 {
    gap: 25px;
}

#section2Left {
    flex-grow: 4;
    border: 2px solid grey;
}

#section2Right {
    flex-grow: 2;
    border: 2px solid grey;
}

.secondary-weather-info {
    width: 100%;
    border: 1px solid green;
}
